{% load staticfiles %}
<html>
    <head>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
        rel="stylesheet" media="screen">
    </head>
    <body>
        <div>
            {{ user }}
            {% if user.is_anonymous %}
            <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
            {% else %}
            <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </body>
</html>
