{% extends "base.html" %}
{% block content %}

<h1>Add video </h1>
<form enctype="multipart/form-data" action="{% url "newvideo" %}" method="POST">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>
    <input type="submit" value="Save" />
</form>
<a href="{% url "video-list" %}">Back to video List</a>

{% endblock %}
