{% extends "base.html" %}
{% block content %}
<h1>Videos</h1>
<ul>
    {% for video in object_list %}
    <li>{{ video.video_name.url }}</li>
    {% endfor %}
</ul>
<a href="{% url "newvideo" %}">Add video</a>

{% endblock %}
