#<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/dashboard/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'django.contrib.auth.views.logout_then_login' %}">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'home' %}">Overview</a></li>
            <li><a href="{% url 'daily-checkin' %}">Daily Check-in</a></li>
            <li class="active"><a href="{% url 'daily-total' %}">Daily Totals</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Work Hours</th>
                  <th>Total Hours</th>
                  <th>Total Hours-(0.5)lunch
                </tr>
              </thead>
              <tbody>
                {% load mathfilters %}  
                {% for person in totaldaily  %}
                <tr>
                  <td>{{person.datestamp}}</td>
                  <td>{{person.callerid.first_name}} {{person.callerid.last_name}}</td>
                  <td>{{person.delta_ts}}</td>
                  <td>{{person.total_delta}}</td>
                  {% if person.count > 2 %}
                  <td>{{person.total_delta|sub:0.5}}</td>
                  {% else %}
                  <td>{{person.total_delta}}</td>
                  {% endif %}  
                </tr> 
                {% endfor %} 

              </tbody>
            </table>
          </div>
          <div class="pagination">
                <span class="step-links">
                    {% if totaldaily.has_previous %}
                        <a href="?page={{ totaldaily.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ totaldaily.number }} of {{ totaldaily.paginator.num_pages }}.
                    </span>

                    {% if totaldaily.has_next %}
                        <a href="?page={{ totaldaily.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/dashboard/js/docs.min.js"></script>
  </body>
</html>
