{% extends "base.html" %}
{% load staticfiles %}
{% load socialaccount %}
{% block xtraxtrahead %}
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link href={% static 'tagit/css/jquery.tagit.css' %} rel="stylesheet" type="text/css">
{% endblock xtraxtrahead %}
        {% block content %}
        <div class="jumbotron">
            <h1></h1>
            {% if request.user.is_authenticated %}
            <form enctype="multipart/form-data" action="{% url 'searchVideo' %}" method="POST">
                {% csrf_token %}
                <input type="text" class="input-large" id="videoTags" name="tag">
                <button type="submit" class="btn btn-large btn-success">Reveal</button>
            </form>

            <p class="lead"></p>
            {% else %}
	        <div class="sociallogindiv">
	        {% for provider in socialaccount.providers %}
	              {% if provider.id == "facebook" %}
	                        <p><a title="{{provider.name}}" href="{% provider_login_url provider.id process=process %}" class="btn-primary btn" role="button">Sign in with Facebook</a></p>
	              {% endif %}
	              {% if provider.id == "google" %}
	                        <p><a title="{{provider.name}}" href="{% provider_login_url provider.id process=process %}" class="btn-warning btn" role="button" >Sign in with Google</a></p>
	              {% endif %}
	        {% endfor %}
	        </div>
            {% endif %}
        </div>
        <div class="row-fluid marketing">
            <div class="span6">
            </div>
            <div class="span6">
                <h4></h4>
                <p></p>
            </div>
        </div>
        <div class="footer">
            <p>© abp 2015</p>
        </div>
        {% endblock content%}
        <!-- /container -->
        <!-- Placed at the end of the document so the pages load faster -->
        {% block xtraxtracontent %} 
<script src={% static 'tagit/js/tag-it.js' %} type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(function() {
console.log('inside the videotags function')
$('#videoTags').tagit({  
placeholderText:'Comma seperated list',
singleFieldDelimiter: ",",   
allowSpaces: true,
tagLimit: 5,

});
});
</script>
        {% endblock xtraxtracontent %}
