{% extends "base.html" %}
{% load staticfiles %}
{% load socialaccount %}
{% block xtraxtrahead %}
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <script type="text/javascript" src="//cdn.sublimevideo.net/js/dfl9csi3.js"></script>
{% endblock xtraxtrahead %}
      {% if request.user.is_authenticated %}
        {% block content %}
        <div class="jumbotron">
            <h1></h1>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Search Results
                </tr>
              </thead>
              <tbody>
                {% for video in searchV  %}
                <tr>
                    <td>
                        <video id=1 class="sublime" poster="https://cdn.sublimevideo.net/vpa/ms_800.jpg" width="640" height="360" title="Midnight Sun" data-uid="a240e92d" preload="none" data-autoresize='fill'>
                        <source src=" {{ video.video_name.url }} " />
                         <source src="{{ video.video_name.url }} " data-quality="hd" />
                        </video> 
                    </td>
                </tr> 
                {% endfor %} 
              </tbody>
            </table>
          </div>
          <div class="pagination">
                <span class="step-links">
                    {% if searchV.has_previous %}
                        <a href="?page={{ searchV.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ searchV.number }} of {{ searchV.paginator.num_pages }}.
                    </span>

                    {% if searchV.has_next %}
                        <a href="?page={{ searchV.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="footer">
            <p>© abp 2015</p>
        </div>
        {% endblock content%}
    {% endif %}
        <!-- /container -->
        <!-- Placed at the end of the document so the pages load faster -->
        {% block xtraxtracontent %} 
        {% endblock xtraxtracontent %}
